.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: rgb(38, 38, 38);
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input{
    border: 1px solid white;
    padding: 15px 30px;
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    text-align: start;
    color: white;
}

textarea{
    border: 1px solid white;
    padding: 15px 30px;
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    color: white;
}

.message-button{
    border: none;
    border-radius: 10px;
    padding:10px;
    background-color: rgb(26, 217, 196);
    font-weight: bold;
}

address h2,
span{
    font-style: normal;
}
